.books-container {
  background-color: var(--primary);
  color: var(--text);
  padding: 3.2rem;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 400;
}